<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <p>index page...</p>
    <ul>
        <li><a th:href="@{/demo/test}">demo test</a></li>
    </ul>
    <ul>
        <li><a th:href="@{/index/home}">home</a></li>
        <shiro:hasRole name="admin">
            <li><a th:href="@{/user/userList}">userList</a></li>
        </shiro:hasRole>
        <li><a th:href="@{/user/add}">addUser</a></li>
    </ul>

    <footer>
        <ul>
            <li><a th:href="@{/logout}">logout</a></li>
        </ul>
    </footer>
</body>
</html>