<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form th:action="@{/user/addAction}" method="post">
    <ul>
        <li>name:<input type="text" id="userName" name="userName"/></li>
        <li>pswd:<input type="password" id="passWord" name="passWord"></li>
        <li>phone:<input type="text" id="phone" name="phone"></li>
        <li>email:<input type="text" id="email" name="email"></li>
        <li><input type="submit" value="确定"></li>
    </ul>
</form>
</body>
</html>