<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user list</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>index</th>
                <th>id</th>
                <th>name</th>
                <th>phone</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user,akStat : ${userList}">
                <td th:text="${akStat.count}"></td>
                <td th:text="${user.userId}">id</td>
                <td th:text="${user.userName}">name</td>
                <td th:text="${user.phone}">phone</td>
                <td th:text="${user.email}">email</td>
            </tr>
        </tbody>
    </table>
</body>
</html>