<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    user <th:text>123</th:text>

    <h4>---------------------</h4>
    <!--<p th:text="${userList}">Welcome to this page</p>-->
    <h4>---------------------</h4>
    <p>select site</p>
    <ol>
        <li><a href="www.baidu.com" th:href="@{https://www.baidu.com}">baidu</a></li>
        <li><a href="www.qq.com" th:href="@{https://www.qq.com}">qq</a></li>
    </ol>
    <ol>
        <li><p th:with="isEven=(10 % 2 == 0)"></p></li>
        <li><p th:with="isEven=${11 % 2 == 0}"></p></li>
    </ol>
    <h3>====================================================</h3>

</body>
</html>