<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hello.shiro.mapper.RoleDaoMapper">

    <select id="findUserRoles" parameterType="com.example.hello.shiro.pojo.User"
            resultType="com.example.hello.shiro.pojo.Role">
        SELECT r.* FROM t_sys_user u,t_sys_user_role ul,t_sys_role r
        WHERE 1=1 AND u.`user_id` = ul.`user_id` AND ul.`role_id`=r.`role_id`
        AND u.`user_id` = #{userId}
    </select>

</mapper>
